html {
    background-image: linear-gradient(to right, #e3f2fd, #bbdefb);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    padding: 0;
    font-family: nunito, sans-serif;
    /* background-color: #a9d6e5; */
    /* background-color: #edede9; */
    color: #012a4a;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    min-height: 100vh;
    overflow-x: hidden;
}

.page-header{
    width: 100%;
    background-color: #012a4a; /* Background color for the header */
    /* color: #a9d6e5; */
    color: whitesmoke;
    padding: 20px 0; /* Padding around the header */
    text-align: center; /* Center the text */
    margin: 0;
    box-shadow: 0 2px 20px #04471c;
}

.dashboard {
    width: 100%;
    max-width: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: 0;
}

.water-gauge-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    gap: 10px;
    max-width: none;
    margin-left: 30px;
    /* margin-right: 20px; */
    justify-content: center;
    align-items: center;
    padding: 0 20px 0;
}

.air-gauge-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    gap: 10px;
    max-width: none;
    margin-left: 30px;
    /* margin-right: 20px; */
    justify-content: center;
    align-items: center;
    padding: 0 20px 30px;
}

.gauge-wrapper {
    width: 120px;
    /* Adjust to make smaller */
    height: auto;
    /* Adjust to make smaller */
    text-align: center;

}

.gauge h3 {
    font-size: 1rem;
    text-align: center;
    min-height: 50px;
    /* Space for at least 2-3 lines */
    max-height: 60px;
    /* Prevents excessive height */
    display: flex;
    align-items: center;
    justify-content: center;

    text-wrap: wrap;
    /* Ensures text wraps within the space */
    overflow: hidden;
    margin: 0;
}

.gauge {
    width: 180px;
    min-height: 150px;
    background: #222;
    border-radius: 10px;
    padding: 0;
    box-shadow: 0 2px 12px #04471c;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

/* Reading (Text below Gauge) - Consistent Position */
.gauge-reading {
    font-size: 1rem;
    text-align: center;
    min-height: 30px;
    margin: 0;
    padding: 0;
    /* Ensures consistent alignment */
    display: flex;
    align-items: center;
    justify-content: center;
}

.air-gauge-container .gauge, .air-graphs-container .chart-wrapper canvas{
    background-color: #89c2d9;
    color: #012a4a;
}

.water-gauge-container .gauge, .water-graphs-container .chart-wrapper canvas {
    background-color: #61a5c2;
    color: #012a4a;
}

.gauge-wrapper canvas {
    width: 100%;
    max-width: 120px;
    height: auto;
}

.water-graphs-container, .air-graphs-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35vw, 1fr));
    margin: auto 5vw 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.chart h3, .chart-grid h2 {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.water-graphs-container .chart-wrapper canvas, .air-graphs-container .chart-wrapper canvas {
    min-height: 200px;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 2px 12px #04471c;
}

.footer {
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    background-color: #012a4a;
    color: whitesmoke;
    margin-top: auto;
}

.about {

    background-color: #a9d6e5;
    color: #012a4a;
    margin-top: auto;
}

.about-button {
    padding: 10px;
}

@media (max-width: 768px) {
    .water-gauge-container {
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));

        gap: 10px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .air-gauge-container {
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        gap: 10px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .gauge {
        width: 140px;
        height: auto;
        padding: 10px;
    }

    .gauge-wrapper canvas {
        width: 100px;
        height: 100px;
    }
}